<main>
    <section>
        <h2>예약완료</h2>
        <article>
            <h6>고객님의 예약이 확정되었습니다.</h6>
            <p>예약번호 <span></span></p>
            <span>
                <button></button>
            </span>
        </article>
    </section>
</main>